@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #254c3b;
	--foreground: #ffffff;
	--primary: #eb4e3c;
	--secondary: #f0db4f;
}

.ibm_plex_mono {
	font-family: var(--ibm-plex-mono);
}

body {
	margin: 0;
	color: var(--foreground);
	background: var(--background);
	font-family: var(--ibm-plex-mono);
	position: relative;
	min-height: 100vh;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0.2) 1px,
		transparent 1px
	);
	background-size: 30px 30px;
	z-index: 0;
	pointer-events: none;
}

/* For code based content on challenge day */
.rich-html ul {
	list-style: disc;
	margin-left: 1.25rem;
	padding-left: 1.25rem;
}
.rich-html ol {
	list-style: decimal;
	margin-left: 1.25rem;
	padding-left: 1.25rem;
}
.rich-html li {
	margin: 0.25rem 0;
}
.rich-html p {
	margin: 0.75rem 0;
}
